<div class="widgets">
    <div class="row" [hidden]="addNew || viewContactStatus">
        <ba-card title="Basic Example" baCardClass="with-scroll" class="data-table-container">
            <!--<div class="row">
                <div class="col-sm-2">
                    <label class="label-control">Search</label>
                    <input class="form-control"  />
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-12 label-control">Sort by</label>
                    </div>
                    <div class="row">
                        <div class="offset-sm-1 col-sm-5">
                            <div class="row">
                                <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="name">Name</option>
                            <option ngValue="company">Company</option>
                            <option ngValue="email">Primary Email</option>
                        </select>
                            </div>
                        </div>
                        <div class="offset-sm-1 col-sm-5">
                            <div class="row">
                                <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                            <option ngValue="badValue">Bad value</option>
                        </select>
                            </div>
                        </div>
                        
                    </div>
                </div>-->
                <!--<div  class="col-sm-2">
                    <label class="label-control">&nbsp;&nbsp;&nbsp;</label>
                    <button type="submit" class="btn btn-primary form-control " (click)="addNew = !addNew" >Add New</button>
                </div>
            </div>-->
            <div class="panel panel-default">
                <div class="panel-heading">User information</div>

                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="4" class="col-12">
                                <!--Search:-->
                                <!--<input class="form-control" [(ngModel)]="filterQuery" />-->
                                 <div class="row">
                                    <div class="col-sm-3">
                                        <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search"/>
                                    </div>
                                    <div  class="col-sm-2">
                                        <label class="label-control">&nbsp;&nbsp;&nbsp;</label>
                                        <button type="submit" class="btn btn-primary form-control " (click)="addNew = !addNew" >Add New</button>
                                    </div>
                                 </div>
                            </th>
                        </tr>
                        
                        <tr>
                            <th style="width: 10%">
                                <mfDefaultSorter by="dbContactNumber">Contact# <i class="fa fa-sort" aria-hidden="true"></i></mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="dbFirstName">Name <i class="fa fa-sort" aria-hidden="true"></i></mfDefaultSorter>
                            </th>
                            <th style="width: 40%">
                                <mfDefaultSorter by="dbCompany">Company <i class="fa fa-sort" aria-hidden="true"></i></mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                <mfDefaultSorter by="dbPrimaryEmail">Primary Email <i class="fa fa-sort" aria-hidden="true"></i></mfDefaultSorter>
                            </th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <!--<td>
                                <button (click)="remove(item)" class="btn btn-danger">x</button>
                            </td>-->
                            <td><a href="JavaScript:void(0);"  (click)="setContact(item)">{{item.dbContactNumber}}</a></td>
                            <td><a  href="JavaScript:void(0);"  (click)="setContact(item)">{{item.dbFirstName}} {{item.dbLastName}}</a></td>
                            <td><a  href="JavaScript:void(0);"  (click)="setContact(item)">{{item.dbCompany}}</a></td>
                            <td ><a  href="JavaScript:void(0);"  (click)="setContact(item)">{{item.dbPrimaryEmail}}</a></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
        
        
    </div>
    <inline-form [hidden]="!addNew" [(addNew)]="addNew" [(contactEdit)]="contact" [(addressArray)]="addressArray"></inline-form>
    <div class="row"  [hidden]="!viewContactStatus"  >
        <div class="col-lg-6 col-md-12">
          <ba-card cardTitle="Contact Details" baCardClass="with-scroll table-panel">
            <view-contact [(contact)]="contact" [(viewContactStatus)]="viewContactStatus"></view-contact>
            <button class="btn btn-danger right" type="button" (click)="viewContactStatus = !viewContactStatus;backToList();">Back</button>
            <button class="btn btn-primary right" type="button" (click)="editContact(contact, addressOfContact)">Edit</button>
          </ba-card>
        </div>
        <div class="col-lg-6 col-md-12">
            <ba-card *ngFor="let address of addressOfContact; let i = index" cardTitle="Address {{i+1}}" baCardClass="with-scroll table-panel" >
              <view-address [(address)]="addressOfContact[i]" [(viewContactStatus)]="viewContactStatus"></view-address>
              <button class="btn btn-danger right" type="button" (click)="viewContactStatus = !viewContactStatus;backToList();">Back</button>
              <button class="btn btn-primary right" type="button" (click)="lgModalShow(addressOfContact[i])">Edit</button>
            </ba-card>
          </div>
          <div class="col-lg-6 col-md-12" [hidden]="!viewContactStatus || invoices.length == 0" >
            <ba-card cardTitle="Invoices" baCardClass="with-scroll table-panel" >
                <table class="table table-hover">
                    <thead>
                    <tr class="black-muted-bg">
                      <th>Invoice Numbers</th>
                      <th>Balance Due</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let invoice of invoices" class="no-top-border">
                            <td><a [routerLink]="['/pages/modules/invoices']" [queryParams]="{ 'invoicenumber': invoice.dbInvoiceNumber }">Invoice #{{invoice.dbInvoiceNumber}}</a></td>
                            <td>{{invoice.dbBalance | currency:'USD':true}}</td>
                      </tr>
                    </tbody>
                  </table>
            </ba-card>
          </div>
      </div>
    
</div>
