@import '../../../../theme/sass/conf/conf';
:host /deep/ .widgets {
    .data-table-container {
        width: 100%;
        .panel-heading {
            margin-top: 25px;
        }
    }
    mfdefaultsorter {
        font-weight: bolder;
        color: black;
    }
    td a {
        color: white;
    }
    td a:hover {
        text-decoration: underline;
    }
    .right {
        float :right;
    }
}