.checkbox {
  display: inline-block;
  margin-bottom: -12px;
  margin-left: 12px;
}
.form-control {
  width:100%;
}
.row {
  margin-top: 5px;
}
.td-key {
  text-align: left;
  width: 25%;
}
.td-value {
  width:75%;
}

.no-border {
  border : 0px !important;
}