<div bacardblur="" zoom-in="" class="animated fadeIn card">
  <div class="card-header clearfix">
    <span class="card-title-new" translate="">Address</span>
  </div>
  <div class="card-body">
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{address.dbTitle}} {{address.dbFirstName}} {{address.dbLastName}}</span>
      </div>
      <div class="message-content line-clamp line-clamp-2">
        {{address.dbAddress}} {{address.dbCity}}, {{address.dbState}}, {{address.dbCountry}} {{address.dbZip}}
      </div>
    </div>
  </div>
</div>